@import "~@blueprintjs/core/dist/blueprint.css";

.indented1 {
 padding-left: 3%;
}

.indented2 {
  padding-left: 6%;
}

.indented3 {
  padding-left: 9%;
}

.indented4 {
  padding-left: 12%;
}

.indented5 {
  padding-left: 15%;
}

.proof {
  display: flex;

  .pt-card {
    padding: 5px;
  }

  .proof-inputs {
    flex: 1 0 0;
    margin: 10px;

    .add-group {
      display: flex;
      margin-bottom: 10px;

      .pt-input-group {
        flex: 1 0 0;
      }
    }
  }

  .proof-body {
    flex: 1 0 0;
    margin: 10px;

    .justification-group {
      display: flex;

      .pt-numeric-input {
        flex: 1 0 0;
      }
    }
    .add-var-const-group {
      display: flex;
      margin-bottom: 10px;

      .pt-input-group {
        flex: 0.2 0 0;
      }

    }
  }
}

